<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styleLogin.css">
</head>
<body>
    <main> 
        <section class="container">
            <div class="login-container">
                <div class="circle circle-one"></div>
                <div class="form-container">
                    <h1 class="opacity">LOGIN</h1>
                    <form id="loginForm">
                        <input type="email" name="email" id="emailInput" placeholder="Email" required />
                        <div id="emailError" class="error"></div> <!-- Error element for email -->
                        <input type="password" name="password" id="passwordInput" placeholder="Password" required>
                        <button type="submit">Login</button>
                    </form>
                    <div class="register-forget opacity">
                        <a href="/register">Register</a>
                    </div>
                </div>
                <div class="circle circle-two"></div>
            </div>
            <div class="theme-btn-container"></div>
        </section>
    </main>
    <script>
document.getElementById('loginForm').addEventListener('submit', async (event) => {
    event.preventDefault();
    const formData = {
        email: document.getElementById('emailInput').value,
        password: document.getElementById('passwordInput').value
    };
    
    try {
        const response = await fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        });

        if (!response.ok) {
            const errorMessage = await response.json();
            showError(errorMessage.message, 'emailError'); 
            return;
        }
        window.location.href = '/';
    } catch (error) {
        console.error('Error:', error);
    }
});


function showError(message, errorElementId) {
    const errorElement = document.getElementById(errorElementId);
    errorElement.textContent = message;
    errorElement.style.color = 'red';
}

document.getElementById('emailInput').addEventListener('input', () => {
    const errorElement = document.getElementById('emailError');
    errorElement.textContent = ''; 
});

const themes = [
    {
        background: "#1A1A2E",
        color: "#FFFFFF",
        primaryColor: "#0F3460"
    },
    {
        background: "#461220",
        color: "#FFFFFF",
        primaryColor: "#E94560"
    },
    {
        background: "#192A51",
        color: "#FFFFFF",
        primaryColor: "#967AA1"
    },
    {
        background: "#F7B267",
        color: "#000000",
        primaryColor: "#F4845F"
    },
    {
        background: "#F25F5C",
        color: "#000000",
        primaryColor: "#642B36"
    },
    {
        background: "#231F20",
        color: "#FFF",
        primaryColor: "#BB4430"
    }
];

const setTheme = (theme) => {
    const root = document.querySelector(":root");
    root.style.setProperty("--background", theme.background);
    root.style.setProperty("--color", theme.color);
    root.style.setProperty("--primary-color", theme.primaryColor);
};

const displayThemeButtons = () => {
    const btnContainer = document.querySelector(".theme-btn-container");
    themes.forEach((theme) => {
        const div = document.createElement("div");
        div.className = "theme-btn";
        div.style.cssText = `background: ${theme.background}; width: 25px; height: 25px`;
        btnContainer.appendChild(div);
        div.addEventListener("click", () => setTheme(theme));
    });
};

displayThemeButtons();
</script>
</body>
</html>
